<div class="banner">
  <div class="content">
    <h1 class="content-heading">Mobil bebas finance</h1>
    <p class="content-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae assumenda nisi perferendis enim facere, ut provident nulla odit, ea, nemo expedita voluptatibus obcaecati sint accusantium quas laborum aspernatur molestiae a!
    </p>
  </div>
  <div class="action">
    <button class="btn btn-primary">Simulasi Kridit</button>
    <button class="btn">Simulasi Budget</button>
  </div>
</div>
